commands:
  01_download_agent:
    command: "wget -q https://s3.amazonaws.com/amazoncloudwatch-agent/ubuntu/amd64/latest/amazon-cloudwatch-agent.deb -O /tmp/cw-agent.deb"
  02_install_agent:
    command: "dpkg -i /tmp/cw-agent.deb"
  03_start_agent:
    command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a start"
